body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#tasklist {
    list-style: none;
    padding: 0;
}

.task {
    cursor: pointer;
    padding: 8px;
    background: lightgray;
    margin: 5px 0;
    border-radius: 5px;
}

.task:hover {
 background: #ddd;
}

